[submodule "navigator"]
	path = navigator
	url = git@github-ironaddicteddog:DappioWonderland/navigator.git
[submodule "gateway"]
	path = gateway
	url = git@github-ironaddicteddog:DappioWonderland/gateway.git
